
    .pad-cont{
        padding: var(--padding-content-desktop);
    }

     body p{
        font-size: var(--p-desktop);
    }
    
    body h1{
       font-size: var( --h1-desktop);
    }
    
    body h2{
        font-size: var( --h2-desktop);
     }
    
     
    body h3{
        font-size: var( --h3-desktop);
     }
    
     body h4{
        font-size: var( --h4-mobile);
        font-weight: var(--regular);
     }
     /*--------------------------------------*/
    .hero p{
        font-size: 1.7rem;
    }

    

    .container nav ul:nth-child(2) li:nth-child(2){
        display: flex;
    }

    #menu-mbg{
        display: none;
    }
    
    .container nav{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #ul2.inactive{
        order: 1;
        display:flex;
        align-items: center;
        gap: 40px;
    }


    #ul2.inactive li{
        border: none;
        color: white;
        font-weight: var(--medium);
        font-size: 1rem;
        height: auto;
        text-align: center;
        padding: 0;
        font-size: 1rem;
    }


    
    .hero{
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .hero article{
        width: 50%;
    }

    .hero article:nth-child(1){
        height: fit-content;
    }

    .hero article:nth-child(2){
        display: flex;
        justify-content: center;
        align-items: end;
    }


    #linea-nav{
        min-width: 20px;
        width: 100.50px;    
        height: 2px;
        background-color: rgb(255, 255, 255);
    }
    
    
    .hero h1{
        font-size: 5rem;
    }
    .hero h2{
        font-size: 3rem;
    }
    

    
    .fondo-imghero{
        bottom:40px;
        left:45px;
        width: 80%;
        height: 250px;
        background-color: whitesmoke;
        
    }

    .img-me{
        padding-bottom: 40px;
        padding-left: 40px;
    }


    .perfil-container{
        padding-top: 50px;
        padding-bottom: 90px;
        position: relative;
        display: flex;
        flex-direction: row;
        gap: 20px;
        justify-content: space-between;
    }


    .perfil-container div{
        width: 50%;
        height: auto;
    }

    .per1{
        padding: 40px 0 0 0;
    }

    .per1 p{
        line-height: 25px;
    }

    .per2{
        bottom: 30px;
        right: 200px;
    }
    .per2 img{
        width: 400px;
    }

    .mvo{
        flex-direction: row;
        justify-content: space-between;
        gap: 40px;
        padding-bottom: 20px;
        margin-bottom: 0;
        color: var(--hero-fontcolor-);
    }
    .mvo div{

        flex-direction: column;
    }

    .mvo h3{
        font-size: 2.7rem;
    }
    .mvo p{
        font-size: 1rem;
    }

    .per2{
        display: block;
    }

    .linea-exp{
        position: relative;
    }

    .linea{
        position: absolute;
        top: 0;
        margin: 0 auto;
        width: 4px;
        height: 70px;
        background: rgb(110,2,204);
background: linear-gradient(90deg, rgb(80, 5, 115) 0%, rgb(149, 0, 255) 56%, rgb(39, 10, 170) 100%);
        z-index: 1;
        animation-name: color-movement;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }

    @keyframes color-movement {
        0%{
            top: 10px;
        }
        100%{
            top:100%;
        }
    }


    .cert-container{
        overflow:auto;
     }

     .cert-container::-webkit-scrollbar{
        background-color: #1d8089;
     }
     .cert-container::-webkit-scrollbar-button{
        background-color: #74a0a4;
     }
     
    

     
        
    .tecno-cont{
        position: relative;
        
        height: 600px;
    }

    .tecnologias{
        position: relative;
        width: 100%;
        height: 400px;
        margin-top: 80px;
    }

    .tecnologias img{
        animation-name: movement;
        animation-duration: 5s;
        animation-iteration-count: infinite;
        -o-animation-direction:alternate-reverse;
        animation-timing-function:linear;
        animation-fill-mode: both;
    }

    @keyframes movement{
        0% {
            padding-bottom: 0px;
          }
        
        25%{
            padding-bottom: 5px;
        }
        50% {
            padding-bottom: 0px;
          }
        
        100%{
            padding-bottom: 5px;
        }
    }

    .tecnologias img:nth-child(1){
        position: absolute;
        bottom: 90px;
        left: 120px;
        width: 130px;
        z-index: 10;
    }

    .tecnologias img:nth-child(2){
        position: absolute;
        bottom: 200px;
        left: 330px;
        z-index: 10;
        width: 200px;
    }

    
    .tecnologias img:nth-child(3){
        position: absolute;
        bottom: 320px;
        left: 700px;
        z-index: 10;
        width: 90px;
    }

    .tecnologias img:nth-child(4){
        position: absolute;
        bottom: 110px;
        left: 500px;
        z-index: 10;
        width: 130px;
    }

    .tecnologias img:nth-child(5){
        position: absolute;
        bottom: 220px;
        left: 920px;
        z-index: 10;
        width: 200px;
    }
    .tecnologias img:nth-child(6){
        position: absolute;
        bottom: 83px;
        left: 800px;
        z-index: 10;
        width: 80px;
    }
    .contacto{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .img-contacto{
        display: block;
    }
    .img-contacto img{
        width: 100px;
    }